
<ion-header>

  <ion-toolbar>
    <ion-title>
      Anina Ku
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
      <ion-avatar class="avatar">
          <img src="https://imgur.com/XjNmTDL.jpg">
      </ion-avatar>
        
      
    <p><ion-icon name="star"></ion-icon>Student at Harvard University.</p>
    <p><ion-icon name="star"></ion-icon>Aspiring Full Stack Software Engineer</p>
    <p><ion-icon name="star"></ion-icon>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>

    <p><ion-icon name="logo-github"></ion-icon> aku8 </p>

  </div>
  <ion-button shape="round" color="light" (click)="presentAlert()">Press Me</ion-button>
  <br>
  <ion-button shape="round" color="light" (click)="presentToast()">Toast Time</ion-button>
</ion-content>
